@media screen and (max-width: 1220px){
	#logos{ 
		.logos{
	
	       img {
	       	margin-right:30px; 
	          }
          } 
       }

	}
#about{
	min-height:1656px;
	background:white;
	border-bottom:1px solid #F0F0F0;

	.tab li {
		list-style: none;
		text-decoration: none;
		display: inline-block;
		// padding:20px;
		border:1px solid #F0F0F0;
		margin-top: 62px;
		// width: 183px;
		cursor: pointer;
		margin-right: 0;
		margin-bottom: 50px;
	}
	.tab li a {
		padding: 40px;
		width: 183px;
		line-height: 4;
		color:#606060;
	}

.active{
			
			background:#1AC6FF;
			a{
			color:white;
			}
	
		}
}
  #tab-content .content {  display: none;  }