#contact{
	min-height:400px;
	padding: 60px;
	img{
		margin-bottom: 20px;	}

	ul li{
		padding: 20px;
	}
	.list-inline i{
		font-size: 50px;
		color:#1AC6FF;
		

	}
	.heading{
		margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px ;
    color:white;
	}
}