body {
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; }

.navbar {
  background: transparent;
  border: none;
  margin-bottom: 0px; }
  .navbar li {
    padding: 20px 0;
    display: inline-block; }
  .navbar img {
    height: 30px; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-nav a {
    font-size: 13px;
    padding: 15px 5px; }

  .navbar-brand {
    width: 100px;
    margin-right: 0px; } }
@media only screen and (min-width: 750px) and (max-width: 1200px) {
  .navbar-brand {
    display: none; }

  .navbar-nav a {
    font-size: 12px;
    padding: 15px 5px; }

  .login {
    margin-left: 10px !important; } }
.menu ul:nth-child(1) li a {
  color: #BDAFCF;
  text-decoration: none;
  cursor: pointer;
  padding: 13px; }
  .menu ul:nth-child(1) li a:hover {
    color: #1AC6FF; }
.menu .one {
  color: #1AC6FF !important;
  border-bottom: 2px solid #1AC6FF; }
.menu .login {
  margin-left: 100px;
  margin-right: 5px;
  margin-top: 15px;
  color: #BD98BB; }
  .menu .login:hover {
    color: #1AC6FF; }
.menu .sign {
  background: transparent;
  color: #1AC6FF;
  border: 1px solid #1AC6FF;
  width: 105px;
  line-height: 0px;
  text-align: center;
  border-radius: 3px;
  margin-top: 22px; }
  .menu .sign:hover {
    color: white;
    background: #1AC6FF;
    cursor: pointer; }
.menu .dropdown-toggle:hover .dropdown-menu {
  display: block; }
.menu .dropdown-toggle:hover {
  border-top: 2px solid #1AC6FF;
  background: #272727; }
.menu .dropdrip {
  position: absolute;
  top: 79%;
  left: -1px;
  padding: 0;
  margin: 0;
  line-height: 0;
  background: #272727; }
  .menu .dropdrip li {
    color: white; }
.menu .dripdrop:hover {
  background: #272727;
  padding: 0;
  margin-top: 15px; }

#home {
  min-height: 660px;
  background: url("images/bg.jpg") no-repeat;
  background-size: cover; }
  #home ul li {
    text-align: center;
    color: white;
    list-style: none;
    font-size: 52px; }
    #home ul li:first-child {
      margin-top: 150px; }
    #home ul li h1 {
      font-size: 55px;
      font-weight: 100; }
  #home .launch {
    color: #19C5FF; }
  #home .buton1 {
    background-color: #1ac6ff;
    text-transform: uppercase;
    line-height: 2;
    color: white;
    width: 212px; }
    #home .buton1:hover {
      color: white; }
    #home .buton1 span {
      margin-right: 3px; }
  #home .buton2 {
    color: white;
    border: 1px solid white;
    line-height: 2;
    margin-left: 8px;
    width: 145px; }
    #home .buton2:hover {
      background: white;
      color: #19C5FF; }
  #home .navbar {
    margin-bottom: 0px; }
  #home .navbar li {
    padding: 17px 0; }

@media screen and (max-width: 1220px) {
  #logos .logos img {
    margin-right: 30px; } }
#about {
  min-height: 1656px;
  background: white;
  border-bottom: 1px solid #F0F0F0; }
  #about .tab li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #F0F0F0;
    margin-top: 62px;
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 50px; }
    #about .tab li:hover {
      color: white;
      background: #1AC6FF; }
    #about .tab li:first-child {
      color: white;
      background: #1AC6FF; }
  #about .tab li a {
    padding: 40px;
    width: 183px;
    line-height: 4; }

#features {
  min-height: 1150px;
  background: white;
  border-bottom: 1px solid #F0F0F0; }
  #features .komp {
    background: #F0F0F0;
    height: 510px; }
    #features .komp img {
      margin-top: 50px;
      margin-bottom: 70px; }
  #features .tab-title {
    font-size: 1.2em;
    font-weight: 600; }
  #features .tab-info {
    float: left;
    position: relative;
    width: 126%;
    padding: 25px 28px;
    text-align: left;
    z-index: 2;
    color: #818181;
    border-radius: 5px;
    margin-bottom: 0;
    line-height: 2; }
  #features .els {
    margin-top: 100px;
    background: #1AC6FF;
    color: white !important; }
  #features .ells {
    color: #1AC6FF; }
  #features .icons {
    margin-bottom: 50px; }
    #features .icons h5 {
      font-size: 1.2em; }
    #features .icons p {
      color: #8D8D8D;
      line-height: 2; }
  #features .Second_Img img {
    -webkit-transform: rotateX(150deg);
    /* Safari */
    transform: rotateX(150deg);
    /* Standard syntax */
    transition: all 1.3s ease; }
  #features .row1 {
    padding-top: 100px;
    transform: translateX(1000px);
    transition: all .5s ease; }
  #features .row2 {
    padding-top: 70px;
    transform: translateX(-1000px);
    transition: all .5s ease; }

.parallax_texts {
  transform: translateX(-450px);
  transition: all .5s ease; }

.Inputs {
  transform: translateX(650px);
  transition: all .5s ease; }

#prices {
  min-height: 1200px;
  background: white;
  border-bottom: 1px solid #F0F0F0; }
  #prices .product {
    margin-top: 66px;
    margin-bottom: 80px; }
  #prices .package-title {
    padding: 28px 0 18px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    color: #A3A3A3;
    background: #F8F8F8; }
  #prices .package-price {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    padding: 15px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #F3F3F3; }
  #prices .price {
    position: relative;
    font-size: 115px;
    font-weight: 300;
    line-height: 125px;
    color: #BEBEBE; }
  #prices .currency {
    position: relative;
    top: -40px;
    font-size: 47px;
    font-weight: 500;
    line-height: 1;
    color: #BEBEBE; }
  #prices .period {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    color: #D1D1D1; }
  #prices .package-detail {
    padding: 30px 15% 50px;
    margin-bottom: 30px;
    background: #F8F8F8; }
  #prices .list-unstyled li {
    font-size: 18px;
    border-bottom: 1px solid #E1E1E1;
    padding: 12px;
    list-style: none;
    color: #BEBEBE;
    font-weight: 100; }
  #prices .btn {
    margin-top: 48px;
    padding: 15px;
    color: #a4a4a4;
    background: transparent;
    border: 1px solid #a4a4a4; }

#feedback {
  min-height: 290px; }

#team {
  min-height: 919px;
  background: white; }
  #team p {
    color: #E3E3E3;
    position: absolute;
    top: 20%;
    left: 36%; }
  #team .bosluq img {
    margin-bottom: 10px;
    position: relative; }
  #team span {
    text-align: center; }

#contact {
  min-height: 400px;
  padding: 60px; }
  #contact img {
    margin-bottom: 20px; }
  #contact ul li {
    padding: 20px; }
  #contact .list-inline i {
    font-size: 50px;
    color: #1AC6FF; }
  #contact .heading {
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px;
    color: white; }

.fixed-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #E3E3E3; }
  .fixed-nav .menu ul li a {
    color: black; }

.fixed-nav .navbar-default {
  background-color: white;
  background-image: url("assets/images/Screenshot_3.png"); }

.logo img {
  margin-right: 24px;
  margin-top: 13px; }

.nav > li > a {
  display: block; }

#logos {
  background: #F0F0F0;
  height: 124px; }
  #logos img {
    margin-right: 60px;
    margin-top: 27px; }

.highlight {
  color: #1AC6FF; }

.batn li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  width: 160px;
  border: 1px solid #1AC6FF;
  border-radius: 5px;
  background: white;
  color: #1AC6FF;
  cursor: pointer;
  margin-right: 0; }

#newsletter h2, #newsletter .h2 {
  font-size: 40px;
  overflow: hidden; }
#newsletter h1, #newsletter .h1, #newsletter h2, #newsletter .h2, #newsletter h3, #newsletter .h3 {
  margin-top: 35px; }
#newsletter h1, #newsletter h2, #newsletter h3, #newsletter h4, #newsletter h5, #newsletter h6, #newsletter .h1, #newsletter .h2, #newsletter .h3, #newsletter .h4, #newsletter .h5, #newsletter .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: white; }
#newsletter p {
  margin: 9px 0 36px;
  color: white;
  position: relative;
  left: 8%; }
#newsletter .name {
  width: 186px;
  height: 50px;
  margin-top: 48px;
  text-align: center;
  border: none;
  border-left: 2px solid #19C5FF; }
#newsletter .email {
  width: 46%;
  height: 50px;
  margin-top: 48px;
  text-align: center;
  border: none;
  border-left: 2px solid #19C5FF; }
#newsletter .gonder {
  width: 144px;
  height: 50px;
  margin-top: 48px;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  color: white; }
  #newsletter .gonder:hover {
    background: white;
    color: #19C5FF; }

#launchh {
  background: #1AC6FF;
  min-height: 142px; }
  #launchh h1 {
    font-weight: 100;
    font-size: 40px; }
  #launchh button {
    border: 1px solid white;
    background: #1AC6FF;
    width: 185px;
    padding: 12px;
    margin-right: 60px;
    color: white;
    margin-top: -76px;
    border-radius: 3px; }
    #launchh button:hover {
      background: white;
      color: #1AC6FF; }

#logos .logos .tek {
  transform: translateY(-44px);
  transition: all .5s ease; }

#logos .logos .cut {
  transform: translateY(44px);
  transition: all .5s ease; }

#StartUp_left {
  transition: all .5s ease;
  transform: translateX(-600px); }

#StartUp_right {
  transition: all .5s ease;
  transform: translateX(600px); }

#NewAge_left {
  transition: all .5s ease;
  transform: translateX(600px); }

#NewAge_right {
  transition: all .5s ease;
  transform: translateX(-600px); }

#Helmet_left {
  transition: all .5s ease;
  transform: translateX(-600px); }

#Helmet_right {
  transition: all .5s ease;
  transform: translateX(600px); }

/*# sourceMappingURL=style.css.map */
